@charset "UTF-8";

/*共通セレクタ*/

.body {
  font-family: "raleway", "lato";
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

/*個別セレクタ*/

.header {
  width: 100%;
  z-index: 100;
  top: 0;
  position: fixed;
  background-color: #fff;
  padding: 15px 0;
}

.fa-bolt {
  font-size: 40px;
  color: #333;
  float: left;
}

.header__green-btn {
  box-sizing: border-box;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  float: right;
  color: #fff;
  text-decoration: none;
  transition: all .3s;
}

.header__green-btn:hover {
  color: #333;
}

.main {
  margin-top: 70px;
}

.title {
  background-color: #f2f2f2;
  padding: 250px 0;
}

.title__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title__main-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.title__sub-title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.can-do {
  background-color: #74cfae;
  padding-top: 50px;
}

.can-do__inner {
  display: flex;
}

.can-do__content {
  margin-left: 75px;
  color: #fff;
  text-align: center;
}
.can-do__iphone-img {
  vertical-align: top;
}

.can-do__title {
  font-size: 24px;
}

.can-do__text {
  font-size: 20px;
  word-break: initial;
  margin-top: 35px;
  line-height: 25px;
}

.work {
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
}

.work__title {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.work__figure {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  font-size: 0;
}

.work__img {
  margin-left: 100px;
  opacity: 0.7;
  transition: all .3s;
}

.work__img:hover {
  opacity: 1;
}

.work__img:nth-child(n+4) {
  margin-top: 80px;
}

.work__img:nth-child(1),
.work__img:nth-child(4){
  margin-left: 0;
}

.work__form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 200px;
  text-align: center;
  color: #333;
  line-height: 20px;
  margin-top: 90px;
}

.work__green-btn {
  padding: 14px 20px;
  margin-left: 90px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 12px;
  background-color: #74cfae;
  color: #fff;
  text-decoration: none;
  transition: all .3s;
}

.work__green-btn:hover {
  color: #333;
}

.skills {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
  text-align: center;
}

.skills__title {
  color: #fff;
  font-size: 24px;
}

.skills__figure {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  margin-top: 50px;
}

.skill {
  margin-left: 180px;
}

.skill:first-child {
  margin-left: 0px;
}

.skill__text {
  margin-top: 10px;
}

.contact {
  background-color: #f2f2f2;
  padding: 200px 0;
}

.sns__icons {
  display: flex;
  justify-content: center;
  text-align: center;
}

.sns__icon {
  width: 185px;
  padding: 30px 0;
  font-size: 40px;
  transition: all .3s;
}

.sns__icon:hover {
  background-color: #fff;
}

.sns__icon__link {
  color: #74cfae;
  text-decoration: none;
}

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer__inner {
  text-align: end;
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .inner {
    max-width: 97%;
  }

}
@media screen and (max-width: 767px) {
  

}