@charset "UTF-8";

/*共通セレクタ*/

.body {
  font-family: "lato";
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.green-btn {
  box-sizing: border-box;
  transition: all .3s;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  background-color: #74cfae;
}

.green-btn:hover {
  color: #333;
}

.raleway {
  font-family: "raleway";
}

/*個別セレクタ*/

.header {
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #fff;
  padding: 15px 0;
}

.fa-bolt {
  font-size: 40px;
  color: #333;
  float: left;
}

.header__green-btn {
  padding: 14px 12px;
  float: right;
}

.header__humbugger {
  display: none;
}

.main {
  margin-top: 70px;
  text-align: center;
}

.title {
  background-color: #f2f2f2;
  padding: 250px 0;
}

.title__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__main-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.title__sub-title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.can-do {
  background-color: #74cfae;
  padding-top: 50px;
}

.can-do__inner {
  display: flex;
}

.can-do__content {
  margin-left: 75px;
  color: #fff;
}
.can-do__iphone-img {
  vertical-align: top;
}

.can-do__title {
  font-size: 24px;
}

.can-do__text {
  font-size: 20px;
  word-break: initial;
  margin-top: 35px;
  line-height: 25px;
}

.work {
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
}

.work__title {
  font-size: 24px;
  color: #333;
}

.work__img-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  font-size: 0;
}

.work__img-link {
  margin-left: 100px;
  opacity: 0.7;
  transition: all .3s;
}

.work__img-link:hover {
  opacity: 1;
}

.work__img-link:nth-child(n+4) {
  margin-top: 80px;
}

.work__img-link:nth-child(3n+1){
  margin-left: 0;
}

.work__form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 200px;
  color: #333;
  margin-top: 90px;
}

.work__green-btn {
  padding: 14px 20px;
  margin-left: 90px;
  white-space: nowrap;
}

.work__text {
  line-height: 20px;
}

.skills {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.skills__title {
  color: #fff;
  font-size: 24px;
}

.skills__list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  margin-top: 50px;
}

.skill {
  margin-left: 180px;
}

.skill:first-child {
  margin-left: 0px;
}

.skill__text {
  margin-top: 10px;
}

.contact {
  background-color: #f2f2f2;
  padding: 200px 0;
}

.sns__icons {
  display: flex;
  justify-content: center;
}

.sns__icon {
  font-size: 40px;
  transition: all .3s;
}

.sns__icon:hover {
  background-color: #fff;
}

.sns__icon__link {
  width: 185px;
  padding: 30px 0;
  color: #74cfae;
  text-decoration: none;
}

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer__inner {
  text-align: end;
  color: #fff;
}

@media (max-width: 1199px) {
  .inner {
    max-width: 97%;
  }

  .can-do {
    padding: 50px 0 25px 0;
  }

  .can-do__inner {
    display: block;
    padding: 0 100px;
  }

  .can-do__content {
    margin: 0;
  }

  .can-do__content:last-child {
    margin-top: 20px;
  }

  .work__img-list {
    flex-direction: column;
    align-content: center;
  }

  .work__img-link,
  .work__img-link:nth-child(n+4) {
    margin: 0;
  }

  .work__img-link:nth-child(3n+1) {
    margin-top: 80px;
  }

  .work__img-link:first-child {
    margin-top: 0;
  }

  .work__form {
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
  }

  .work__green-btn {
    margin: 40px 0 0 0;
  }

  .skills__list {
    flex-direction: column;
  }

  .skill {
    margin: 88px 0 0 0;
  }

  .skill:first-child {
    margin-top: 0;
  }

}
@media (max-width: 767px) {
  .header__green-btn {
    display: none;
  }

  .header__humbugger {
    float: right;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column
  }

  .bar {
    width: 25px;
    height: 2px;
    background-color: #ddd;
    margin-top: 5px;
    display: inline-block;
  }

  .bar:first-child {
    margin-top: 0;
  }

  .title {
    padding: 160px 0 130px 0;
  }

  .title__main-title {
    font-size: 80px;
  }

  .title__sub-title {
    font-size: 30px;
  }

  .can-do__inner {
    padding: 0;
  }

  .work__form {
    padding: 0;
  }

  .sns__icons {
    flex-direction: column;
    align-items: center;
  }

  .contact {
    padding: 50px 0;
  }

  .sns__icon,
  .sns__icon__link {
    width: 100%;
  }

}